@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Thin.ttf') format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('ttf');
}

@layer components {
  .btn-primary {
    @apply bg-primary-black rounded-2xl py-5 px-6 mb-6 border-2 border-white;
  }

  .btn-continue{
    @apply w-10/12 bg-primary-purple text-primary font-semibold rounded-2xl py-4 px-6 my-6 hover:bg-secondary-purple disabled:bg-primary-black disabled:text-content;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
